body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('img/ComicMe.jpg');
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

h4
{
}
	
table
{
  margin-left: 15px;
  margin-right: 15px;
}